@font-face {
    font-family: Futura;
    src: url(./fonts/FuturaPT-Bold.woff2) format('woff2'),
        url(./fonts/FuturaPT-Bold.woff) format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    font-family: Futura;
}

body,
html {
    margin: 0;
    padding: 0;
    height: auto;
}

.header {
    width: 100%;
    padding: 20px;
    text-align: center;
    z-index: 1;
    transition: opacity 0.5s ease;
}

.links-wrapper {
    display: flex;
    justify-content: center;
}

.links {
    background: linear-gradient(
        165.15deg,
        rgba(28, 67, 103, 0.5) 15.43%,
        rgba(85, 173, 255, 0.5) 83.83%
    );
    padding: 24.5px 53.5px;
    display: flex;
    gap: 38px;
    border-radius: 38px;
    margin-top: 36px;
    max-width: 555px;
    justify-content: center;
}

.links a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    font-size: 24px;
    font-family: 'Futura';
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.links a:hover {
    transform: translateY(-2px);
    color: rgba(255, 255, 255, 0.8);
}

.main_title {
    font-size: 64px;
    color: #ffffff;
    line-height: 64px;
    margin-bottom: 18px;
    margin-top: 124px;
}

.main_subtitle {
    color: #ffffff;
    font-size: 36px;
    margin-bottom: 124px;
}

.main_btn {
    color: #ffffff;
    padding: 16px 24px;
    background: linear-gradient(180deg, #7eac2f 0%, #97ea07 100%);
    border: none;
    border-radius: 50px;
    font-size: 36px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, background 0.3s ease-in-out;
}

.main_btn:hover {
    transform: translateY(-2px);
    background: linear-gradient(180deg, #97ea07 0%, #7eac2f 100%);
}

.main-1,
.main-2,
.main-3,
.main-4 {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 100vh;
    transition: all 1s ease;
}

.main-1 {
    background-image: url('./img/bg-1.png');
}

.main-2 {
    background-image: url('./img/bg-2.png');
}

.main-3 {
    background-image: url('./img/bg-3.png');
}

.main-4 {
    background-image: url('./img/bg-4.png');
}

.main-content__arrow {
    position: absolute;
    bottom: 16px;
    left: 50%;
    cursor: pointer;
    animation: bounce 1s infinite ease-in-out;
}

@keyframes bounce {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.main-content__footer {
    position: absolute;
    bottom: 0;
    right: 0;
}

.links a:last-child::before {
    content: url('/img/cup.svg');
    width: 24px;
    height: 21px;
    display: inline-block;
    padding-right: 5px;
    vertical-align: middle;
    padding-bottom: 9px;
    animation: blinkCup 1s infinite alternate;
}

@keyframes blinkCup {
    0% {
        filter: brightness(1) hue-rotate(0deg);
    }
    100% {
        filter: brightness(1.5) hue-rotate(30deg);
    }
}

/* Следующая страница */

.center-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
}

#next-content {
    height: auto;
    padding: 100px 0 60px 0;
    background-image: url('./img/bg-5.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

.logo {
    display: flex;
    justify-content: center;
}

.next-content__cards {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin: 64px 0;
}

.next-content___card {
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.35) 0%,
        rgba(29, 52, 78, 0.35) 100%
    );
    border-radius: 24px;
    width: 256px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    transition: background 0.3s ease-in-out;
}

.next-content___card:hover {
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.7) 0%,
        rgba(29, 52, 78, 0.7) 100%
    );
}

.next-content___card:hover img {
    transform: translateY(-5px);
    transition: transform 0.3s ease-in-out;
}

.next-content___card img {
    transition: transform 0.3s ease-in-out;
}

.next-content___text {
    font-weight: 700;
    font-size: 24px;
    line-height: 42px;
    text-align: center;
    color: #ffffff;
    padding-top: 16px;
}

.text-green {
    color: #a4ff07;
}

#marquee-container {
    overflow: hidden;
    width: 100%;
    position: relative;
    white-space: nowrap;
    background: white;
}

#marquee {
    display: flex;
    width: max-content;
    animation: marquee 10s linear infinite;
}

.marquee-text {
    margin-right: 63px;
    color: #14a0ff;
    font-size: 36px;
}

.text-blue {
    color: #1c4367;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

.next-content__arrow {
    position: absolute;
    bottom: 51px;
    left: 50%;
    cursor: pointer;
    animation: bounce 1s infinite ease-in-out;
}

.next-content__footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 39px;
}

/* Последний блок  */

#additional-content {
    height: auto;
    padding: 100px 0 60px 0;
    background-image: url('./img/bg-5.png');
    background-size: cover;
    background-position: center;
}

.additional-content__form-wrapper {
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.2) 0%,
        rgba(29, 52, 78, 0.2) 100%
    );
    border-radius: 24px;
    padding: 32px 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 590px;
    margin: 0 auto;
    margin-top: 64px;
}

.additional-content__form-title {
    color: #a4ff07;
    padding-bottom: 48px;
    line-height: 34px;
}

.additional-content__form {
    max-width: 470px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    border: 2px solid transparent;
    border-radius: 42px;
    margin-bottom: 24px;
    padding: 16px 0px 16px 24px;
    font-size: 24px;
    width: 470px;
    transition: border 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

input[type='number'] {
    -moz-appearance: textfield;
    -webkit-appearance: none;
    appearance: none;
}

input[type='number']::-webkit-inner-spin-button {
    display: none;
}

input[type='number']::-webkit-outer-spin-button {
    display: none;
}

.input:hover,
.input:focus {
    border: 2px solid #14a0ff;
    box-shadow: 0 0 10px rgba(20, 160, 255, 0.7);
    outline: none;
}

::placeholder {
    color: #7c99b5;
}

.form_btn {
    margin-top: 24px;
}

.additional-content__footer {
    position: relative;
}

.additional-content__footer-links {
    display: flex;
    justify-content: center;
    gap: 48px;
    margin-top: 64px;
}

.additional-content__footer-links a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.additional-content__footer-links a:hover {
    transform: translateY(-2px);
    color: rgba(255, 255, 255, 0.8);
}

.additional-content__footer-img {
    position: absolute;
    bottom: -49px;
    right: 0;
}

.additional-content__footer-img-for-mobile {
    display: none;
}

/* Мобилка  */

@media (max-width: 530px) {
    body,
    html {
        overflow: hidden;
    }

    .header img,
    .logo img {
        max-width: 110px;
    }
    .center-div {
        transform: translate(-50%, -52%);
    }
    .links {
        margin-top: 24px;
        gap: 16px;
        padding: 16px 20px;
        width: 85vw;
    }
    .links a {
        font-size: 12px;
    }
    .links a {
        font-size: 12px;
    }
    .links a:last-child::before {
        content: url('/img/cup-mobile.svg');
        width: 16px;
        padding: 0 2px 0 0;
    }
    .main_title {
        font-size: 32px;
        line-height: 32px;
        margin-top: 200px;
    }
    .main_subtitle {
        font-size: 16px;
        line-height: 16px;
        margin-bottom: 52px;
    }
    .main_btn {
        font-size: 20px;
        padding: 8px 50px;
    }
    .main-content__footer,
    .next-content__footer {
        display: none;
    }

    /* Следующий блок */
    #next-content,
    #additional-content {
        padding: 38px 0 60px 0;
        height: 100vh;
    }
    .next-content__cards {
        gap: 10px;
        justify-content: flex-start;
        padding-left: 15px;
        margin: 40px 0;
    }
    .next-content___text {
        font-size: 16px;
        line-height: 26px;
    }
    .next-content___card img {
        max-width: 140px;
        max-height: 100px;
    }
    .next-content___card {
        min-width: 182px;
        height: 258px;
        transition: background 0.3s ease-in-out;
    }
    .marquee-text {
        font-size: 24px;
    }
    .next-content__arrow,
    .main-content__arrow {
        bottom: 23px;
        left: 47%;
    }
    .next-content__cards-wrapper {
        overflow-x: auto;
    }
    .next-content__cards-wrapper::-webkit-scrollbar {
        display: none;
    }

    /* Следующий блок */

    .additional-content__form-wrapper {
        margin-top: 26px;
        padding: 16px;
        max-width: 90vw;
    }
    .additional-content__form-title {
        font-size: 14px;
        text-align: center;
        max-width: 222px;
        padding-bottom: 16px;
    }
    .input {
        width: 248px;
        font-size: 16px;
        padding: 8px 0px 8px 16px;
        margin-bottom: 16px;
    }

    .form_btn {
        margin-top: 8px;
        padding: 4px 24px;
    }
    .additional-content__footer-links {
        margin-top: 10px;
        gap: 30px;
    }

    .additional-content__footer-links a {
        font-size: 12px;
    }
    .additional-content__footer-img {
        display: none;
    }
    .additional-content__footer-img-for-mobile {
        display: flex;
        justify-content: center;
    }
    .additional-content__footer-img-for-mobile img {
        max-width: 60px;
    }
}
